@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LocationTwo!</h1>
    <p> We are a film equipment rental company. </p>
        
    <img src="Img\DALLEfilmcamerapixelart.png" class="img-fluid" style="width: 500px;" alt="...">

</div>


